
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    color: #637ab3;
    font-size: 40px;
}

.films ul li a{
    color: #000;
    text-decoration: none;
}

.films ul{
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
}

.films li{
    
    box-shadow: 0px 0px 10px ;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    display: block;
    position: relative;
    padding: 25px;
    width: 200px;
}

.films img{
    margin-bottom: 10px;
    border-radius: 10px;
    width: 200px;
    height: 290px;
}

.moods ul{
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
}

.moods ul li{
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    position: relative;
    width: 200px;
    height: 240px;
    margin: 20px;
}
.moods ul li img{
    margin-top: 20px;
    position: relative;
    width: 200px;
    width: 200px;
}